<header class="bg-white">
  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div
        routerLink="/"
        class="md:flex cursor-pointer md:items-center md:gap-12"
      >
        <p class="block text-teal-600 text-3xl font-bold">E-Commerce</p>
      </div>

      <div class="hidden md:block">
        <nav [ngSwitch]="menuType" aria-label="Global">
          <ul *ngSwitchCase="'default'" class="flex items-center gap-6 text-sm">
            <li>
              <a
                class="text-gray-700 text-md transition cursor-pointer hover:text-gray-500/75"
                routerLink=""
              >
                Home
              </a>
            </li>
            <li>
              <a
                class="text-gray-700 cursor-pointer transition hover:text-gray-500/75"
                routerLink="signUp"
              >
                seller
              </a>
            </li>
          </ul>
          <ul *ngSwitchCase="'seller'" class="flex items-center gap-6 text-sm">
            <li>
              <a
                class="text-gray-700 text-md transition cursor-pointer hover:text-gray-500/75"
                routerLink="seller-productList"
              >
                Product List
              </a>
            </li>
            <li>
              <a
                class="text-gray-700 cursor-pointer transition hover:text-gray-500/75"
                routerLink="seller-addProduct"
              >
                Add Product
              </a>
            </li>
            <li>
              <a
                (click)="handleLogOut()"
                class="text-gray-700 cursor-pointer transition hover:text-gray-500/75"
              >
                LogOut
              </a>
            </li>

            <li>
              <p
                class="text-gray-700 cursor-pointer transition hover:text-gray-500/75"
              >
                {{ sellName }}
              </p>
            </li>
          </ul>
        </nav>
      </div>

      <!-- search bar section -->
      <div>
        <div *ngIf="menuType === 'default'" class="relative">
          <label for="Search" class="sr-only"> Search </label>

          <input
            (change)="inputChange($event)"
            type="text"
            id="Search"
            placeholder="Search for..."
            class="w-96 rounded-md p-2 border-2 border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm"
          />

          <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
            <button
              (click)="onSearch()"
              type="button"
              class="text-gray-600 font-bold hover:text-gray-700"
            >
              <span class="sr-only">Search</span>

              <p class="-ml-10" >Search</p>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
