<div>
  <div
    *ngIf="!showLogin"
    class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8"
  >
    <div class="mx-auto max-w-lg">
      <h1 class="text-center uppercase text-2xl font-bold text-indigo-600 sm:text-3xl">
        seller Registration
      </h1>

      <form
        (ngSubmit)="handlerSignUp()"
        class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8"
      >
        <p class="text-center text-lg font-medium">Sign up a account</p>

        <div>
          <label for="email" class="sr-only">User Name</label>

          <div class="relative">
            <input
              [(ngModel)]="signUpInfo.name"
              type="text"
              name="userName"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
              placeholder="user Name"
            />
          </div>
        </div>

        <div>
          <label for="email" class="sr-only">Email</label>
          <div class="relative">
            <input
              [(ngModel)]="signUpInfo.email"
              type="email"
              name="email"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
              placeholder="Enter email"
            />
          </div>
        </div>

        <div>
          <label for="password" class="sr-only">Password</label>
          <div class="relative">
            <input
              [(ngModel)]="signUpInfo.password"
              type="password"
              name="password"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
              placeholder="Enter password"
            />
          </div>
        </div>

        <button
          type="submit"
          class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white"
        >
          Sign up
        </button>

        <p class="text-center text-sm text-gray-500">
          I have a account please-
          <a (click)="openLogIn()" class="underline cursor-pointer"> Sign in</a>
        </p>
      </form>
    </div>
  </div>

  <!--seller login section -->

  <div
    *ngIf="showLogin"
    class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8"
  >
    <div class="mx-auto max-w-lg">
      <h1 class="text-center uppercase text-2xl font-bold text-indigo-600 sm:text-3xl">
        seller Login 
      </h1>

      <form
        (ngSubmit)="handleLogin()"
        class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8"
      >
        <p class="text-center text-lg font-medium">Please Login</p>

        <div>
          <label for="email" class="sr-only">Email</label>
          <div class="relative">
            <input
              [(ngModel)]="logInInfo.email"
              type="email"
              name="email"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
              placeholder="Enter email"
            />
          </div>
        </div>

        <div>
          <label for="password" class="sr-only">Password</label>
          <div class="relative">
            <input
              [(ngModel)]="logInInfo.password"
              type="password"
              name="password"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
              placeholder="Enter password"
            />
          </div>
        </div>

        <button
          type="submit"
          class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white"
        >
          Sign in
        </button>

        <p class="text-center text-sm text-gray-500">
          No account please-
          <a (click)="openSignUp()" class="underline cursor-pointer">Sign up</a>
        </p>

        <div
          *ngIf="authError"
          role="alert"
          class="rounded border-s-4 border-red-500 bg-red-50 p-4"
        >
          <strong class="block font-medium text-red-800">
            {{ authError }}
          </strong>
        </div>
      </form>
    </div>
  </div>
</div>
