<section
  class="bg-gray-900 text-white"
  style="
    background-image: url('https://images.pexels.com/photos/939331/pexels-photo-939331.jpeg?auto=compress&cs=tinysrgb&w=600');
  "
>
  <div
    class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-2/5 lg:items-center"
  >
    <div class="mx-auto max-w-3xl text-center">
      <h1
        class="bg-gradient-to-r from-green-400 via-gray-800 to-slate-700 bg-clip-text text-6xl uppercasel  font-extrabold text-transparent "
      >
        E-commerce
      </h1>

      <p class="mx-auto mt-4 max-w-2xl sm:text-xl/relaxed font-semibold ">
        Elevate your online shopping experience with our meticulously crafted 
        e-commerce platform, designed to exceed your expectations
      </p>
    </div>
  </div>
</section>
